a{
	color:red;
}
body
{   
     background:url('croc.jpg');   
	 background-size: cover;
	 background-position:center top;
	 background-repeat:no-repeat;
}
p{
     font-style:normal;
     font-weight:bold;
     color:black;
}
h1{
	color: yellow;
    position: center;	
}
	