
 <!DOCTYPE html>
 
 <html>
        <head>
		    <meta name="avtor" content="KuldyaevVV">
			<meta name="keywords" content="Форекс, Forex, блог о форексе">
            <title>Slava's blog</title>
			<link rel="stylesheet" type="text/css" href="c:\venv\djproject\blog\templates\blog\post.css" media="all"/>
			
        </head>
		
        <body>
		    <h1>MyAlfaForexBlog</h1>
            <p>Этот блог - попытка зафиксировать опыт работы на рынке форекс с брокером
			<a href="https://alfaforex.com/ru" > Альфа-Форекс</a></p>
			<p>Моя трейдинговая история началась осенью 2017 года.</p>
        </body>
    </html>